<div fxLayout="row" fxLayoutAlign="center center">
    <div align="center" class="card">
        <div fxLayout="column" fxLayoutAlign="center center">

            <img src="../../../assets/icon1.png"> <br>

            <h4>Forgot Password</h4>
            <div class="card-body">


                <form [formGroup]="form" (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label>Email*</label>
                        <input type="text" formControlName="email" class="form-control" placeholder="Enter Email"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email is invalid</div>
                        </div>
                    </div><br>


                    <div fxLayout="row wrap" fxLayoutAlign="start center">

                        <button style="margin:12px" class="btn btn-primary">Submit</button>
                        <a type="text" href="login">Cancel</a>

                    </div>


                </form>
            </div>
        </div>
    </div>
</div>