<div fxLayout="row" fxLayoutAlign="center center">
    <div align="center" class="card">
        <h5 class="card-header">forgot-password</h5>
        <div class="card-body">

            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <div class="form-group col-7">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" placeholder="Email*"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.email">Email is invalid</div>
                    </div>
                </div>


                <div fxLayout="row wrap" fxLayoutAlign="start center">

                    <button style="margin:12px" class="btn btn-primary">Submit</button>
                    <a type="text" href="login">Cancel</a>

                </div>


            </form>
        </div>
    </div>
</div>