################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/E-Commerce/.vs/slnx.sqlite
/E-Commerce/.vs/E-Commerce/v16/.suo
/E-Commerce/.vs/VSWorkspaceState.json
/E-Commerce/.vs/E-Commerce/config/applicationhost.config
