<div fxLayout="row" fxLayoutAlign="center center">
   <div align="center" class="card">
      <div fxLayout="column" fxLayoutAlign="center center">

         <img src="../../../assets/icon1.png"> <br>
         <p *ngIf="message" class="text-center error">{{message}}</p>  

         <h4>Login Page</h4>
         <div class="card-body">


            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
               <div class="form-row">
 <!-- --------------------------------------------Username---------------------------------------------- -->
 <div class="form-group">
    <label>Username</label>
    <input type="text" formControlName="userName" class="form-control" placeholder=" Enter Username"
      [ngClass]="{ 'has-error': submitted && f.userName.errors }" />
   <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
      <div *ngIf="f.userName.errors.required">Username is required</div>
      <div *ngIf="f.userName.errors.email">Username must be valid!</div>

   </div>
                     
                  </div><br>

                  <!-- ----------------------------------------------Password---------------------------------------------- -->

                  <div class="form-group ">
                     <!-- [type]="hide ? 'text' : 'password'" -->
                     <label>Password</label>
                     <input  type="password" formControlName="passWord" class="form-control" placeholder=" Enter Password"
                        [ngClass]="{ 'has-error': submitted && f.password.errors }" >

                      <!-- <mat-icon   matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->

                     <div *ngIf="submitted && f.passWord.errors" class="invalid-feedback">
                        <div *ngIf="f.passWord.errors.required">Password is required</div>
                        <div *ngIf="f.passWord.errors.minlength">Password must be at least 6 characters</div>

                     </div>
                  </div><br>


                  <!-- ---------------------------------------------Password ends--------------------------------------- -->
                  <div fxLayout="row" fxLayoutAlign="space-between center">
                 <span>  <input type="checkbox">Remember me</span>
                  <a class="forgot-password" href="forgot-password">Forgot Password?</a>
                  </div><br>

                  <div>
                     <button style="margin: 12px;" type="submit" class="btn btn-primary">Login</button>
                     <a style="color: blue;" type="reset" (click)="onReset()">Cancel</a>

                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>