<div fxLayout="row" fxLayoutAlign="center center">
   <div align="center" class="card">
      <h5 class="card-header">Login Page</h5>
      <div class="card-body">


         <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
               <!-- --------------------------------------------Username---------------------------------------------- -->

               <div class="form-group col-7">
                  <label>Username</label>
                  <input type="text" formControlName="userName" class="form-control" placeholder="username*"
                     [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" />
                  <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
                     <div *ngIf="f.userName.errors.required">Username is required</div>
                     <div *ngIf="f.userName.errors.email">Username must be valid!</div>

                  </div>
               </div><br>

               <!-- ----------------------------------------------Password---------------------------------------------- -->

               <div class="form-group col-7">
                  <!-- [type]="hide ? 'text' : 'password'" -->
                  <label>Password</label>
                  <input type="password" formControlName="password" class="form-control" placeholder="password*"
                     [ngClass]="{ 'is-invalid': submitted && f.password.errors }">

                  <!-- <mat-icon   matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon> -->

                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                     <div *ngIf="f.password.errors.required">Password is required</div>
                     <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>

                  </div>

               </div><br>

               <!-- ---------------------------------------------Password ends--------------------------------------- -->
               <div>
                  <button style="margin: 12px;" class="btn btn-primary">Login</button>
                  <a style="color: blue;" type="reset" (click)="onReset()">Cancel</a>

                  <a style=" text-decoration: none; margin-left: 7rem;" class="forgot-password"
                     href="forgot-password">Forgot Password?</a>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>